.statecoordinator_settings .state-checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.statecoordinator_settings .custom-state-container {
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 5px;
}

.statecoordinator_settings .custom-state-container textarea {
    width: calc(100% - 10px);
    margin-top: 5px;
}

.statecoordinator_settings .custom-state-container input[type="checkbox"] {
    margin-right: 5px;
}

.statecoordinator_settings .checkbox_label {
    margin-right: 10px;
}

.statecoordinator_settings .state-coordinator-empty {
    display: block;
    margin-bottom: 10px;
    opacity: 0.7;
}

#stateCoordinatorBody {
    display: none;
}
